//@mixin @include

//scroll 滚动条
@mixin base-scrollbar {
  &::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-track:hover {
    background-color: #f8fafc;
  }
}
@mixin scroll-hidden {
	// overflow: scroll;
	&::-webkit-scrollbar {//滚动条整体部分
		width:0;
	}
	// &::-webkit-scrollbar-thumb { //滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
	// 	background-color: red;
	// } 
	// &::-webkit-scrollbar-track {//滚动条的轨道（里面装有Thumb）
	// 	// background-color: red;
	// }
	// &::-webkit-scrollbar-button{ //滚动条的轨道的两端按钮，允许通过点击微调小方块的位置
		
	// }
	// &::-webkit-scrollbar-track-piece {//内层轨道，滚动条中间部分（除去）
		
	// }
	// &::-webkit-scrollbar-corner {//边角，即两个滚动条的交汇处
		
	// }
	// &::-webkit-resizer { //两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
		
	// }
}
// text 
@mixin truncate-filter {//文字截断
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
//设置滚动条隐藏： 
.container ::-webkit-scrollbar {display: none;}
.wrapper {
	/*内部元素超出 body 即产生滚动，超出的部分 body 隐藏。*/
    overflow-y: hidden;
	.wrapper-modules {
	    overflow-y: auto;
	}
}
[v-cloak] {
  display: none;
}